<h3 class="ui header">{{t "forms.i-i-s-fotokiosk9-клиент-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.отправНаПочту.фИО
      class=(if (v-get validationModel.отправНаПочту "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-fotokiosk9-клиент-e.отправНаПочту.фИО-caption")
      data-test-i-i-s-fotokiosk9-клиент-e-отправНаПочту-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.отправНаПочту "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.отправНаПочту.email
      class=(if (v-get validationModel.отправНаПочту "email" "isInvalid") "error")
      label=(t "forms.i-i-s-fotokiosk9-клиент-e.отправНаПочту.email-caption")
      data-test-i-i-s-fotokiosk9-клиент-e-отправНаПочту-email=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.отправНаПочту "email" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.оплата.сделатьФото.id
      class=(if (v-get validationModel.оплата.сделатьФото "id" "isInvalid") "error")
      label=(t "forms.i-i-s-fotokiosk9-клиент-e.оплата.сделатьФото.id-caption")
      data-test-i-i-s-fotokiosk9-клиент-e-оплата-сделатьФото-id=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.оплата.сделатьФото "id" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-fotokiosk9-клиент-e.оплата.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=true
      value=model.оплата.дата
      class=(if (v-get validationModel.оплата "дата" "isInvalid") "error")
      data-test-i-i-s-fotokiosk9-клиент-e-оплата-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.оплата "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.оплата.время
      class=(if (v-get validationModel.оплата "время" "isInvalid") "error")
      label=(t "forms.i-i-s-fotokiosk9-клиент-e.оплата.время-caption")
      data-test-i-i-s-fotokiosk9-клиент-e-оплата-время=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.оплата "время" "message")}}
  </div>
  <div class="field" data-test-i-i-s-fotokiosk9-клиент-e-оплата-способОпл="true">
    <label>{{t "forms.i-i-s-fotokiosk9-клиент-e.оплата.способОпл-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-fotokiosk9-вид-оплаты")
      value=model.оплата.способОпл
      class=(if (v-get validationModel.оплата "способОпл" "isInvalid") "error")
      readonly=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.оплата "способОпл" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.оплата.сумма
      class=(if (v-get validationModel.оплата "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-fotokiosk9-клиент-e.оплата.сумма-caption")
      data-test-i-i-s-fotokiosk9-клиент-e-оплата-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.оплата "сумма" "message")}}
  </div>
</form>
