<h3 class="ui header">{{t "forms.i-i-s-fotokiosk9-сделать-фото-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.id
      class=(if (v-get validationModel "id" "isInvalid") "error")
      label=(t "forms.i-i-s-fotokiosk9-сделать-фото-e.id-caption")
      data-test-i-i-s-fotokiosk9-сделать-фото-e-id=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "id" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.колВоФото
      class=(if (v-get validationModel "колВоФото" "isInvalid") "error")
      label=(t "forms.i-i-s-fotokiosk9-сделать-фото-e.колВоФото-caption")
      data-test-i-i-s-fotokiosk9-сделать-фото-e-колВоФото=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "колВоФото" "message")}}
  </div>
  <div class="field" data-test-i-i-s-fotokiosk9-сделать-фото-e-категорФото="true">
    <label>{{t "forms.i-i-s-fotokiosk9-сделать-фото-e.категорФото-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-fotokiosk9-категория")
      value=model.категорФото
      class=(if (v-get validationModel "категорФото" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "категорФото" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.цена
      class=(if (v-get validationModel "цена" "isInvalid") "error")
      label=(t "forms.i-i-s-fotokiosk9-сделать-фото-e.цена-caption")
      data-test-i-i-s-fotokiosk9-сделать-фото-e-цена=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "цена" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-fotokiosk9-сделать-фото-e.допНастройки-caption"}}</label>
    {{flexberry-groupedit
      componentName="допНастройкиGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.допНастройки
      content=model.допНастройки
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "допНастройки" "isInvalid") "error")
      data-test-i-i-s-fotokiosk9-сделать-фото-e-допНастройки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "допНастройки" "message")}}
  </div>
</form>
